<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_44_springMVC:war exploded">
    <output-path>$PROJECT_DIR$/spring_44_springMVC/spring_44_springMVC/target/spring_44_springMVC</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>spring_44_springMVC</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_44_springMVC" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring_44_springMVC/spring_44_springMVC/target/spring_44_springMVC/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring_44_springMVC/web/Web" />
    </root>
  </artifact>
</component>